Flask
gunicorn
pytesseract
PyPDF2
Pillow
PyCryptodome
spacy
pytextrank
# spaCy मॉडल को सीधे एक पैकेज के रूप में इंस्टॉल करें
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz